extends layout

block content
  .text-center
    form.form-signup(method="POST")
      #error
        if error
          p.text-danger Error!!!

      h1 Sign Up Page

      li
        .user
          label.sr-only(for="inputUsername") Username:
          input#inputUsername.form-control(
            type="username",
            name="username",
            placeholder="Username",
            required,
            autofocus
          )
      li
        .email 
          |
          |
          |
          label.sr-only(for="inputEmail") Email:
          input#inputEmail.form-control(
            type="email",
            name="email",
            placeholder="example123@gmail.com",
            required
          )
      li
        .password
          label.sr-only(for="inputPassword") Password:
          input#inputPassword.form-control(
            type="password",
            name="password",
            placeholder="Password",
            required
          )
      li
        .confirmpassword
          label.sr-only(for="confirmpassword") Confirm Password:
          input#confirmpassword.form-control(
            type="confirmpassword",
            name="confirmpassword",
            placeholder="Confirm Password",
            required
          )
      li
        - var buttonClass = ["btn", "btn-lg", "btn-primary", "btn-block"];
        button(class=buttonClass, type="submit") Sign Up
